@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(26, 26, 25);
    font-family: 'Lato', sans-serif;
    align-items: center;
    font-size: 12px;
}

// correcting default margin of h1
h1{
    margin: 0px;
}


// ---- General styles ----

.container {
    width: 80vw;
    height: 80vh;
    margin: 40px;
    background-color: white;

    &--header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img1.jpg");;
        background-size: cover;
        background-position: center;
    
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 34%;
            height:50%;
            color: white;
            text-align: center;
        }
    
        &__title {
            width: 100%;
            font-size: 4rem;
            font-weight: bold;
            letter-spacing: 0.8rem;
        }
    
        &__text {
            width: 100%;
            border: 1px solid white; 
        }
    }

    &--section {
      
        &--middle {
            display:flex;
            flex-direction: row;
        }
        
        &--bottom {
            position: relative;
            display: flex;
            flex-direction: row;
        }

        &__img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &--top {
                height: 55%;
                background-image:  url('../img/img2.jpg');
            }

            &--middle {
                flex-basis: 75%;
                height: 70%;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/img3.jpg');
            }

            &--bottom {
                flex-basis: 90%;
                
                width: 50%;
                height: 70%;
                margin-top: 100px;
                background-image: linear-gradient(to right, rgba(245, 236, 236, 0.247), rgba(245, 236, 236, 0.247)), url('../img/img4.jpg');
            }
        }

        &__content {
            display: flex;
            background-color: white;
            padding: 0 60px;

            &__img {
                border: 1px solid green;
                width: 100%;
            }

            &--top {
                flex-direction: row;
                height: auto;
                align-items: center;
                height: 45%;
        
                &__boxTitle {
                    flex-basis: 60%;
                }

                &__boxText { 
                    flex-basis: 40%;
                }
            }

            &--middle {
                flex-direction: column;
                justify-content: flex-end;
                flex-basis: 25%;

                &__boxTitle {
                    padding-bottom: 40px;
                }

                &__boxText {
                    padding-bottom: 40px;
                }
            }

            &--bottom {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                flex-basis: 25%;
                padding-left: 180px;
                padding-bottom: 40px;
               
                

                &__boxTitle {
                    position: absolute;
                
                    top: 25%;
                    right: 28%;
                }

                &__boxText {
                  
                    
                }
            }
            

        }
    
        &__number {
            font-size: 2.5rem;
            font-weight: bold;
            color: rgb(19, 114, 19);

            &--bottom {
                color: white;
            }
        }
    
        &__title {
            font-size: 3rem;
            line-height: 1rem;
            font-weight: bold;
        }
    
        &__subtitle {
            font-size: 1rem;
            font-weight: bold;
            color: rgb(19, 114, 19)
        }
    
        &__text {
            text-align: justify;
            color: #6b6969;
        }
    }

    &--footer {

        &__icon {
            width:15px;
            height: auto;
            padding: 10px;
           
        }
        
                
        &__img {
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 85%;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/img6.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            text-align: center;

            &__boxText {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 100px;
                width: 60%;
            }

            &__span {
                font-size: 3rem;
                font-weight: bold;
                line-height: 1rem;
                
            }

            &__title {
                font-size: 2.3rem;
                line-height: 3.5rem;
                margin: 0;
            }
            
            &__text {
                border: 1px solid white;
                width: 50%;
                margin-bottom: 50px;
                
            }           
        }
        
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            height: 15%;

    
        }
    }
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 15vh;
    margin: 40px;
    

    &__text {
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 1.2rem;
        color: white;
    
        &::before {
            content: "+";
            font-weight: bolder;

        }
    }

}





// ID selectors



@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }

    
}